@tailwind base;
  @tailwind components;
  @tailwind utilities;



.page-button {
  @apply text-base sm:text-lg font-medium
}

.page-button {
    position: relative;
    width: fit-content;
    padding: 5px 10px;


}

.active-indicator {
  background-color: black;
  /*color: aliceblue;*/
  position: absolute;
  top: 0px;
    left: 0px;
  z-index: -1;
    width: 100%;
    height: 100%;
  border-radius: 10px;

}